
services:
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"

    # Connect pgAdmin to Astro's network
    networks:
      - crimes_da46bc_airflow

    depends_on:
      - postgres

networks:
  crimes_da46bc_airflow:
    external: true
